@model Proyecto_Final.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <main role="main" class="pb-3 p-3">
        <div class="row m-4 p-2 body-login rounded-pill">
            <div class="col-md-4 offset-4">
                <div class="mb-4 text-center">
                    <img class="mb-4 text-center" src="~/images/Login.png" alt="" width="72" height="57">
                    <h3 class="h3-login mb-3 fw-normal text-center">Iniciar sesión</h3>
                </div>

                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating p-2">
                        <input asp-for="Username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label asp-for="Username" for="floatingInput">Email</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating p-2">
                        <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label asp-for="Password" for="floatingPassword">Contraseña</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2 ">
                        <div class="form-check -login">
                               <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                <label asp-for="RememberMe" class="form-check-label"></label>
                            </div>
                            <span asp-validation-for="RememberMe" class="text-warning"></span>
                     </div>
                    <div class="form-group mt-2 text-center">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                        <a asp-action="Register" class="btn  btn-secondary">Registrar nuevo usuario</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>





