html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.animation:hover {
    background-color: black;
    animation: changeColor 5s infinite;
    color:white;
}

@keyframes changeColor {
    0% {
        background-color: black;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}



.body-login {
    /*background: rgba(31, 132, 224, 0.07);*/
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div-title {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    .div-title h2 {
        color: white;
    }

.h3-login {
    color: white;
}
.-login {
    color: white;
}

.btn-login {
color:white;
}

/*Css Admin*/
.body-admin {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-admin {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);
    color: white;
}




@charset "utf-8";
/* Css Productos*/


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 370px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 5px;
}

.card_title {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.card_body {
    padding: 10px;
}

.card_foot {
    background: black;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}
    


/*
.foot a {
    text-decoration: none;
    color: white;
}

    .foot a:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: ""
    }
    */
.zoom {
    background-color: transparent;
    transition: transform .2s;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.zoom-2 {
    background-color: transparent;
    transition: transform .2s;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.zoom-2:hover {
        
         -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

@keyframes shadow-pop-br {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }

    100% {
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        transform: translateX(-8px) translateY(-8px);
    }
}

.carousel-inner {
    width: auto;
    height: 500px;
    max-height: 500px !important;
}

.carousel-content {
    color: black;
    display: flex;
    text-align: center;
}

/*CSS confirmar compra*/

.body-compra {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);

    margin: 10px auto;
}



.confirmation {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

    .confirmation h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .confirmation p {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .confirmation ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px;
    }

    .confirmation li {
        margin-bottom: 5px;
    }

    .confirmation a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .confirmation a:hover {
            background-color: #666;
    }

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background: rgba(24, 23, 23, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(24, 23, 23, 0.3);
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

#myCarousel {

    background-image: url(../images/luna.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-index {
    border-radius: 10px 80px 80px 10px;
    background-image: url(../images/medusa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
