html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.body-login {
    /*background: rgba(31, 132, 224, 0.07);*/
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(31, 132, 224, 0.3);
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h3-login {
color:white;
}
.-login {
    color: white;
}

.btn-login {
color:white;
}