@model Proyecto_Final.DAL.Entities.UserTraining
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <main role="main" class="pb-3 p-3">
        <h1 class="text-center" >Eliminar</h1>
        <h3>¿Estás seguro que deseas eliminar este entrenamiento?</h3>
        <hr />
        <div>
            <partial name="../Shared/PartialViews/_UserTrainingDelete" />
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <br />
                <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                <a asp-action="MyTrainings" class="btn btn-outline-success">Regresar</a>
            </form>
        </div>
    </main>
</div>

