
@{
    ViewData["Title"] = "Index";
}




<div class="container">
    <main role="main" class="pb-3 p-3">
        

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="text-center">
                <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la administración de ECommerce</h1>
            </div>
        }
        else
        {
            
        }
    </main>
</div>

