@model Proyecto_Final.Models.OrderSuccessViewModel
@{
    ViewData["Title"] = "OrderSuccess";
}

<div class="container body-compra">
    <main role="main" class="pb-3 p-3">
        <div class="row">
            <div class="col-md-4 offset-4">
                <img src="~/images/Shopping.png" style="width:350px;" />
                    <div class="confirmation">
                          <h2>¡Gracias por tu compra!</h2>
                          <p>Tu pedido ha sido procesado y confirmado.</p>
                      <p>Detalles del pedido:</p>
                        <ul>
                            <li>Producto: Nombre del Producto</li>
                            <li>Precio:  </li>
                            <li>Cantidad: </li>
                            <li>Total: </li>
                        </ul>
                     
                          <p>Te enviaremos una confirmación por correo electrónico con más detalles.</p>
                            <a asp-action="Index" class="mt-2 btn btn-outline-success">Inicio</a>
                     </div>
            </div>
        </div>
    </main>
</div>



