     @model Proyecto_Final.DAL.Entities.UserTraining       

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
              <div class="form-group">
                        <label asp-for="DateOfClass" class="control-label"></label>
                        <input asp-for="DateOfClass" class="form-control" />
                        <span asp-validation-for="DateOfClass" class="text-danger"></span>
              </div>

          
            <br />