@model Proyecto_Final.Models.AddTrainingUserViewModel
@{
    ViewData["Title"] = "AddTrainingUser";
}

<div class="container">
    <main role="main" class="pb-3 p-3">
        <h1>Entrenamientos</h1>


        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddTrainingUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Trainings" />
                    <div class="form-group">
                        <label asp-for="TrainingId" class="control-label"></label>
                        <select asp-for="TrainingId" asp-items="Model.Trainings" class="form-control"></select>
                        <span asp-validation-for="TrainingId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateClass" class="control-label"></label>
                        <input asp-for="DateClass"  class="form-control" />
                        <span asp-validation-for="DateClass" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                    </div>
                </form>
            </div>
        </div>


    </main>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
